footer {
    background-color: steelblue;
    color: rgb(88, 15, 27);
}
footer p {
    padding: 25px;
}

h1 {
    margin: 50px 0;
}

nav {
    background-color: steelblue;
    padding: 25px;
}
a {
    color: white;
    padding: 25px;
}
body{
    margin: 50px;
}

img {
    border: 40px solid steelblue;
}