footer {
    background-color: rgb(17, 61, 96);
    color: pink;
}
footer p {
    padding: 25px;
}

h1 {
    margin: 50px 0;
}

nav {
    background-color: rgb(17, 61, 96);
    padding: 25px;
}
a {
    color: white;
    padding: 25px;
}
body{
    margin: 50px;
}

img {
    border: 40px solid rgb(17, 61, 96);
}